.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
    background-color: #222;
    height: auto;
    padding: 20px;
    color: #fff;
    overflow: hidden;
}

.question{
  display: block;
  padding-left: 30px;
  height: auto;
  overflow: hidden;
  border-bottom: 1px solid rgba(170, 170, 170, 0.5);
  padding-bottom: 10px;
  text-align: center;
}

.question h1{
  font-size: 18px;
  text-align: left;
}
.question label{
  cursor: pointer;
  max-width: 700px;
  width: 90%;
  display: block;
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
}
.question label span{
  float: right;
  padding-right: 10px;
}

.question label:hover{
  background: rgba(155, 220, 60, 0.35);
}

.question label.c{
  background: rgba(155, 220, 60, 1);
  position: relative;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
}

.question label.c::after{
  position: absolute;
    right: -23px;
    content: ' ';
    display: block;
    width: 0;
    top: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 23px solid rgba(155, 220, 60, 1);
}


.question label.c::before{
    position: absolute;
    right: -12px;
    content: ' ';
    display: block;
    width: 0;
    top: 8px;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 12px solid rgb(143, 206, 52);
    z-index: 10;
}

.custo-estimado{
    top: 120px;
    right: 0;
    display: block;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.68);
    background: rgba(155, 220, 60, 1);
    padding: 18px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-size: 18px;
    font-weight: bold;
}
